
            <div class="section lb">
                <div class="container">
                    <div class="section-title text-center clearfix">
                        <h4>Bienvenidos a <%= image_tag("logo-bienvenida.png") %> </h4>
                        <p class="lead">
                            Primera bolsa de trabajo especializada en el área de inovacion y tecnología.
                        </p>

                    </div>
                    
                    <div class="row">
                        <div class="col-md-3">
                            <div class="widget post-padding clearfix">
                                <div class="widget-title">
                                    <h4>Categorías de Trabajo</h4>
                                </div><!-- end widget-title -->

                                <div class="link-widget">   
                                    <%= render 'partials/nav/sidebar_menu' %>
                                </div><!-- end link-widget -->
                            </div>
                        </div>
                        <div class="col-md-9">
                                <% Job.category_jobs.map do |k, v|  %>
                                    <div class="all-jobs job-listing clearfix">
                                        <%= render  partial: "welcome/each_jobs", locals: {cat_job: k, jobs: @jobs}   %>
                                    </div><!-- end alljobs -->
                                <% end %>                                
                        </div>
                    </div>

                </div><!-- end container -->
            </div><!-- end section -->