
/*
 *= require font-awesome
 *= require animate
 *= require selectize
 *= require selectize.default
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";



body{
  .red, abbr[title]{
    color: red;
  }
  a.active{
    color: #e74c3c !important;
  }
  .padding{
    padding: 15px;
  }
}
